.menu {
  position: relative;

  &__logo {
    padding: 20px 10px;
    border-bottom: 1px solid #999;
  }

  &__item {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #999;
  }

  a.active &__item::after {
    position: absolute;
    top: 0;
    right: -1px;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #fff;
  }
}
