.menu {
  position: relative;

  &__logo {
    padding: 20px 6px;
    font-weight: 600;
    border-bottom: 1px solid #999;
  }

  &__item {
    padding: 10px 6px;
    border-bottom: 1px solid #999;
  }

  a.active &__item {
    color: #1890ff;
  }
}
